<!DOCTYPE html>
<html>
  <head>
    <title>Awesome Articles!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'stylesheets', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap" rel="stylesheet">
  </head>

  <body class="min-h-screen bg-gray-100">
  <!-- nav-->
    <nav class="flex items-center justify-between flex-wrap bg-teal-500 p-6">
      <div class="flex items-center flex-shrink-0 text-white mr-6">
        <span class="font-semibold text-xl tracking-tight" style="font-weight: normal; font-family: 'Alfa Slab One', cursive;"><%= link_to 'Awesome Articles!', articles_path %></span>
      </div>
      <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
        <div class="text-sm lg:flex-grow">
         
        </div>
        <div>
           <ul class="nav navbar-nav pull-right">
            <% if user_signed_in? %>
              <li><%= link_to "#{current_user.email}", "#" %></li>
              <li class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0"><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li class="active inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0"><%= link_to 'Login', new_user_session_path %></li>
              <li class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0"><%= link_to 'Sign up', new_user_registration_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container mx-auto">
      <%= notice || alert %>
      <%= yield %>
    </div>
  </body>
</html>
